body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100px 100px 100px 200px;
  background-color: red;
}

header {
  grid-area: 1/3;
  grid-column: 3;
}

button {
  align-items: center;
}
main {
  grid-area: 2/3;
}
form {
  font-size: 25px;
}
.row-1 {
  display: grid;
}
.row-2 {
  display: grid;
}
.row-3 {
  display: grid;
}

.row-4 {
  display: grid;
}

.row-5 {
  display: grid;
}

.row-6 {
  display: grid;
}

.all {
  grid-area: 3/3;
  font-size: 20px;
}

label {
  text-align: center;
  padding-right: 150px;
}

.box {
  padding-left: 50px;
}
button {
  background-color: green;
}

@media screen and (min-width: 361px) and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 960px) {
}
